@model NGT.Models.Entities.Item
@{
    ViewBag.Title = "Itens";
    ViewBag.MenuLinkItem = true;
}

<section class="content-header pt-2">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="@Url.RouteUrl("Admin.Dashboard.Index")">Admin</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</section>

<section class="pl-3 pr-3">
    <div class="row">
        <div class="col-sm-6 mb-3">

            <form action="@Url.RouteUrl("Admin.Item.Filtrar")" method="get" role="search" class="d-inline">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" name="termo" placeholder="Buscar Itens">
                    <div class="input-group-append">
                        <button class="btn input-group-text" type="submit">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-6 mb-3">
            @if (@TempData["LP"] != null)
            {
                <a href="/admin/itens" class="btn btn-default btn-sm float-lg-left float-md-left float-sm-left float-left mr-3">
                    Limpar
                </a>
            }

            <a class="btn btn-primary btn-sm float-lg-right float-md-right float-sm-right float-left" id="novoItem">
                Novo Item
            </a>
        </div>
    </div>
</section>

<div class="pl-3 pr-3 pb-3">

    <div class="row d-flex justify-content-center align-items-center">
        @foreach (var item in @ViewBag.itens)
        {
            var totItens = 0;
            bool status;
            if (item.Status.Nome == "Ativado")
            {
                status = true;
            }
            else
            {
                status = false;
            }


            foreach (var i in ViewBag.ocorrencias)
            {
                if (i.ItemId == item.Id)
                {
                    totItens = totItens + 1;
                }
            }

            <div class="col-md-4 col-sm-6 col-lg-4 col-xl-3 col-6">

                <div class="card card-widget widget-user card-category">
                    <div class="widget-user-header bg-gradient-primary">

                        <div class="editLoc">
                            <button ref="@item.Id" class="btn btn-tool editaItem">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>

                        <div class="removeLoc">
                            <button ref="@item.Id" class="btn btn-tool removeItem">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>

                        <h3 class="widget-user-username">@item.Nome</h3>
                    </div>

                    <div class="card-footer">
                        <div class="row mb-5">
                            <div class="col-6 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">
                                        @Html.CheckBox("chk", status, new { @class = "status", @rel = @item.Id })
                                        <span id="status_@item.Id">@item.Status.Nome</span>
                                    </h5>
                                    <span class="description-text">Status</span>
                                </div>

                            </div>

                            <div class="col-6">
                                <div class="description-block">
                                    <h5 class="description-header">
                                        @totItens
                                    </h5>
                                    <span class="description-text">Ocorrências</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="opt">
                        <button rel="@item.Id" class="btn btn-primary btn-sm DetailsItem">
                            <i class="fas fa-folder"></i>
                            Ver Mais
                        </button>
                    </div>

                </div>

            </div>
        }
    </div>

</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NovoItem" aria-hidden="true"></div>
<div id="modalE" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditaItem" aria-hidden="true"></div>
<div id="modalS" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ShowItem" aria-hidden="true"></div>

@section ScriptPage {
    @*<script src="~/Areas/Admin/Content/Libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>*@

    <script>
        $(function () {
            $('#novoItem').click(function () {
                $("#modal").load("@Url.RouteUrl("Admin.Item.Novo")", function () {
                    $("#modal").modal();
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('.DetailsItem').click(function () {
                var id = $(this).attr("rel");
                $("#modalS").load("/admin/itens/exibeitens/" + id, function () {
                    $("#modalS").modal();
                });
            });
        });
    </script>
    <script>
    $(function () {
            $('.editaItem').click(function () {
                var id = $(this).attr("ref");
                $("#modalE").load("/admin/itens/editaitens/" + id, function () {
                    $("#modalE").modal();
                });
            });
        });
    </script>
    <script>
        $(".status").click(function () {
            var id = $(this).attr("rel");
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/admin/itens/trocarstatus",
                data: { id },
                success: function (retorno) {

                    if (retorno == "t") {
                        $("#status_" + id).removeClass("text-danger");
                        $("#status_" + id).addClass("text-success");
                        $("#status_" + id).text("Ativado");
                    }
                    else if (retorno == "f") {
                        $("#status_" + id).removeClass("text-success");
                        $("#status_" + id).addClass("text-danger");
                        $("#status_" + id).text("Desativado");

                    } else if (retorno == "n") {
                        window.location.replace("/admin/itens");
                    }
                }
            });
        });</script>
    <script>
        $(".removeItem").click(function () {
            var id = $(this).attr("ref");
            Swal.fire({
                title: 'Deseja confirmar a exclusão deste Item?',
                text: "Todos os dados serão apagados. Esta ação não pode ser desfeita!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Sim, excluir!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        dataType: "json",
                        type: "POST",
                        url: "/admin/itens/remove-item",
                        data: { id },
                        success: function (retorno) {

                            if (retorno == "t") {

                                window.location.replace("/admin/itens");

                            }
                            else if (retorno == "f") {

                                window.location.replace("/admin/itens");
                            }
                        }
                    });
                }
            })
        });
    </script>
}
