<aside class="main-sidebar bgSidebar elevation-4">

    <div class="brand-link topSidebar justify-content-center align-items-center pt-4">
        <img src="~/Content/images/NGT.png" alt="NGT Logo" class="brand-image mt-2" />
        <div class="mt-2">
            <span class="brand-text font-weight-light">NewGenTech</span>
        </div>

    </div>


    <div class="sidebar">


        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="side-menu">

                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Dashboard.Index")" class="@SetActive(ViewBag.MenuLinkDashboard) nav-link">
                        <i class="nav-icon fas fa-chart-line "></i>
                        <p class="">
                            Dashboard
                        </p>
                    </a>
                </li>
                @if (User.Identity.Name.Split('|')[3] == "Administrador")
                {
                    <li class="nav-item">
                        <a href="@Url.RouteUrl("Admin.Usuario.Index")" class="nav-link @SetActive(ViewBag.MenuLinkUsuarios)">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Usuários
                            </p>
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Fornecedor.Index")" class="nav-link @SetActive(ViewBag.MenuLinkFornecedores)">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Fornecedores
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Bloco.Index")" class="nav-link @SetActive(ViewBag.MenuLinkBlocos)">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Blocos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Local.Index")" class="nav-link @SetActive(ViewBag.MenuLinkLocais)">
                        <i class="nav-icon fas fa-map-marker-alt"></i>
                        <p>
                            Locais
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Categoria.Index")" class="nav-link @SetActive(ViewBag.MenuLinkCategoria)">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            Categorias
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Item.Index")" class="nav-link @SetActive(ViewBag.MenuLinkItens)">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>
                            Itens
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Motivo.Index")" class="nav-link @SetActive(ViewBag.MenuLinkMotivo)">
                        <i class="nav-icon fas fa-question-circle"></i>
                        <p>
                            Motivos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.Ocorrencia.Index")" class="nav-link @SetActive(ViewBag.MenuLinkOcorrencias)">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            Chamados
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("Admin.OS.Index")" class="nav-link  @SetActive(ViewBag.MenuLinkOS)">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>
                            Ordens de Serviço
                        </p>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</aside>


<aside class="control-sidebar control-sidebar-dark">

</aside>

@functions {
    string SetActive(bool? isActive)
    {
        return (isActive.HasValue && isActive.Value) ? "active" : "";
    }
}