<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - NGT</title>

    <link rel="icon" type="imagem/png" href="~/Content/Images/NGT.png" />
    @RenderSection("CssPage", false)
    <link href="~/Areas/Admin/Content/Libs/adminlte/css/adminlte.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Libs/fontawesome-free/css/all.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Content/Css/open_area.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Libs/sweetalert2/sweetalert2.css" rel="stylesheet" />


</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        @Html.Partial("Parts/_Sidebar")
        @Html.Partial("Parts/_Header")

        <div class="content-wrapper bodyimg txtBlack">

            @RenderBody()

        </div>

        @Html.Partial("Parts/_Footer")
    </div>

    <script src="~/Areas/Admin/Content/Libs/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/Libs/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/Content/Libs/adminlte/js/adminlte.min.js"></script>
    @RenderSection("ScriptPage", false)
    <script>
        $(function () {
            $('.alteraSenha').click(function () {
                var id = $(this).attr("ref");
                $("#modalS").load("/admin/usuarios/alterasenha/" + id, function () {
                    $("#modalS").modal();
                });
            });
        });
    </script>
    <script src="~/Areas/Admin/Content/Libs/sweetalert2/sweetalert2.js"></script>


    @if (TempData["MSG"] != null)
    {
        <script>
            $(document).ready(function ()
            {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 4000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });

                switch ("@TempData["MSG"].ToString().Split('|')[0]") {
                        case "success":
                            Toast.fire({
                                icon: 'success',
                                title: '@Html.Raw(TempData["MSG"].ToString().Split('|')[1])'
                            })
                            break;
                        case "warning":
                            Toast.fire({
                                icon: 'warning',
                                title: '@Html.Raw(TempData["MSG"].ToString().Split('|')[1])'
                            })
                            break;
                    case "error":
                            Toast.fire({
                                icon: 'error',
                                title: '@Html.Raw(TempData["MSG"].ToString().Split('|')[1])'
                            })
                            title = "Erro!";
                            break;
                        case "info":
                            Toast.fire({
                                icon: 'info',
                                title: '@Html.Raw(TempData["MSG"].ToString().Split('|')[1])'
                            })
                            break;
                    }
            });

        </script>
    }

</body>
</html>
