@model NGT.Models.Entities.Fornecedor
@{
    Layout = null;
}

<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title txtBlack" id="EditFornec">Edição de Fornecedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="overflow-hidden">

            @using (Html.BeginForm("EditaFornecedor", "Fornecedor", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="modal-footer col-11 col-md-12 m-0 pb-0 justify-content-between">
                    <div>
                        <label class="control-label text-muted">ID de registro:</label>
                        @ViewBag.Fornecedor.Id
                    </div>

                    <a ref="remove_@ViewBag.Fornecedor.Id" class="btn btn-danger btn-sm remFornec">
                        <i class="fas fa-trash"></i>
                        Excluir
                    </a>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-12">


                        <div class="form-group m-0 pt-0">
                            @Html.LabelFor(model => model.RazaoSoc, "Razão Social: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="RazaoSoc" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.RazaoSoc">
                                @Html.ValidationMessageFor(model => model.RazaoSoc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0 pt-0">
                            @Html.LabelFor(model => model.NomeFantasia, "Nome Fantasia: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="NomeFantasia" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.NomeFantasia">
                                @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.CNPJ, "CNPJ: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="CNPJ" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.CNPJ">
                                @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.IE, "Inscrição Estadual: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="IE" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.IE">
                                @Html.ValidationMessageFor(model => model.IE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.Endereco, "Endereço: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="Endereco" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.Endereco">
                                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.Telefone, "Telefone: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="Telefone" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.Telefone">
                                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        



                    </div>
                    <div class="col-lg-6 col-12">


                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.Email, "E-mail: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="email" name="Email" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.Email">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.ServPrestado, "Serviço Prestado: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="ServPrestado" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.ServPrestado">
                                @Html.ValidationMessageFor(model => model.ServPrestado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.NomeResp, "Nome do Responsável: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="NomeResp" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.NomeResp">
                                @Html.ValidationMessageFor(model => model.NomeResp, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.CargoResp, "Cargo do Responsável: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="CargoResp" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.CargoResp">
                                @Html.ValidationMessageFor(model => model.CargoResp, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.RamoAtiv, "Ramo de Atividades: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                <input type="text" name="RamoAtiv" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.RamoAtiv">
                                @Html.ValidationMessageFor(model => model.RamoAtiv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-0">
                            @Html.LabelFor(model => model.StatusId, "Status: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                            <div class="col-md-12 pl-3 pr-3">
                                @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control col-11 col-md-12" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group m-0">
                    @Html.LabelFor(model => model.Obs, "Informações Adicionais: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12 pl-3 pr-3">
                        <textarea name="Obs" class="form-control col-11 col-md-12" rows="4.5" style="resize: none;">@ViewBag.Fornecedor.Obs</textarea>
                        @*<input type="text" name="Obs" class="form-control col-11 col-md-12" value="@ViewBag.Fornecedor.Obs">*@
                        @Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="modal-footer col-11 col-md-12">
                    <button type="submit" class="btn btn-default float-right">
                        <i class="fas fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>

            }

        </div>
                </div>
            </div>

<script>
    $(".remFornec").click(function () {
        var id = $(this).attr("ref");
        Swal.fire({
            title: 'Deseja confirmar a exclusão deste fornecedor?',
            text: "Todos os dados serão apagados. Esta ação não pode ser desfeita!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Sim, excluir!'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/admin/fornecedores/deletafornecedor",
                    data: { id },
                    success: function (retorno) {

                        if (retorno == "t") {

                            window.location.replace("/admin/fornecedores");

                        }
                        else if (retorno == "f") {

                            window.location.replace("/admin/fornecedores");
                        }
                    }
                });
            }
        })


    });
</script>
@section ScriptPage {

}