@model NGT.Models.Entities.Ocorrencia
@{
    Layout = null;
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title txtBlack">Cadastro de chamados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="overflow-hidden">
            @using (Html.BeginForm("Criar", "Ocorrencia"))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.BlocoId, "Bloco: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12 pl-3 pr-3">
                        @Html.DropDownList("BlocoId", null, "Selecione o bloco", htmlAttributes: new { @class = "form-control col-11 col-md-12" })
                    </div>
                </div>

                <div class="form-group d-none" id="divLocais">
                    @Html.LabelFor(model => model.LocalId, "Local: ", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12 pl-3 pr-3">
                        @Html.DropDownList("LocalId", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control col-11 col-md-12" })
                    </div>
                </div>

                <div class="form-group d-none" id="divCategs">
                    @Html.LabelFor(model => model.CategoriaId, "Categoria", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12  pl-3 pr-3">
                        @Html.DropDownList("CategoriaId", null, "Selecione a Categoria", htmlAttributes: new { @class = "form-control col-11 col-md-12" })
                    </div>
                </div>

                <div class="form-group d-none" id="divItens">
                    @Html.LabelFor(model => model.ItemId, "Item", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12 pl-3 pr-3">
                        @Html.DropDownList("ItemId", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control col-11 col-md-12" })
                    </div>
                </div>

                <div class="form-group d-none" id="divMotivos">
                    @Html.LabelFor(model => model.MotivoId, "Motivo", htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12 pl-3 pr-3">
                        @Html.DropDownList("MotivoId", null, "Selecione o Motivo", htmlAttributes: new { @class = "form-control col-11 col-md-12" })
                    </div>
                </div>

                <div class="form-group d-none" id="divObs">
                    @Html.LabelFor(model => model.Obs, htmlAttributes: new { @class = "control-label pl-3 pt-3" })
                    <div class="col-md-12 pl-3 pr-3">
                        @Html.TextAreaFor(model => model.Obs, new { @class = "form-control col-11 col-md-12", rows = "5" })
                    </div>
                </div>


                //COLOCAR O CAMPO DE INCLUSAO DE FOTO


                //AJUSTAR BOTAO DE ENVIO
                <div class="modal-footer d-none justify-content-end col-11 col-md-12" id="divSubmit">
                    <button type="submit" class="btn btn-default ">Gravar</button>
                </div>

            }
        </div>
    </div>
</div>

@section ScriptPage{
    
}
<script>
    $(document).ready(function () {
        $('#BlocoId').change(function () {
            $.ajax({
                url: 'ocorrencias/carregaLocal',
                type: 'POST',
                data: { blocoId: $(this).val() },
                datatype: 'json',
                success: function (data) {
                    var options = '';
                    options += '<option value>Selecione o Local</option>';
                    $.each(data, function () {
                        options += '<option value="' + this.id + '">' + this.nome + '</option>';
                    });
                    $('#LocalId').html(options);
                    $('#divLocais').removeClass('d-none');
                    $('#divCategs').removeClass('d-none');
                },
            });
        });
    });

    $(document).ready(function () {

        $('#CategoriaId').change(function () {
            if ($('#CategoriaId').val() || $('#LocalId').val() !== "") {
                $.ajax({
                    url: 'ocorrencias/carregaitem',
                    type: 'POST',
                    data: {
                        localId: $('#LocalId').val(),
                        categId: $('#CategoriaId').val()
                    },
                    datatype: 'json',
                    success: function (data) {
                        var options = '';
                        options += '<option>Selecione o Item</option>';
                        $.each(data, function () {
                            options += '<option value="' + this.id + '">' + this.nome + '</option>';
                        });
                        $('#ItemId').html(options);
                        $('#divItens').removeClass('d-none');
                        $('#divMotivos').removeClass('d-none');
                        $('#divObs').removeClass('d-none');
                    }
                });
            }
        });

        $('#LocalId').change(function () {
            if ($('#CategoriaId').val() || $('#LocalId').val() !== "") {
                $.ajax({
                    url: 'ocorrencias/carregaitem',
                    type: 'POST',
                    data: {
                        localId: $('#LocalId').val(),
                        categId: $('#CategoriaId').val()
                    },
                    datatype: 'json',
                    success: function (data) {
                        var options = '';
                        options += '<option>Selecione o Item</option>';
                        $.each(data, function () {
                            options += '<option value="' + this.id + '">' + this.nome + '</option>';
                        });
                        $('#ItemId').html(options);
                        $('#divItens').removeClass('d-none');
                        $('#divMotivos').removeClass('d-none');
                        $('#divObs').removeClass('d-none');
                    }
                });
            }
        });

    });

    $(document).ready(function () {
        $('#MotivoId').change(function () {
            $('#divSubmit').removeClass('d-none');
        });
    });
</script>

